<!DOCTYPE html>
<html>
<head>
  <title>Viper</title>
	<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
	
	<header>
		<a href="#" title="Home">
			<%= image_tag("logo.png", :id=> "logo") %>
		</a>
		<menu>
			<li><a href="#">Menyval1</a></li>
			<li><a href="#">Menyval2</a></li>
			<li><a href="#">Menyval3</a></li>
		</menu>
		<form id="search" method="get" action="/search/">
			<input type="text" name="search_text" id="search_text">
			<input type="submit" id="search_submit" value="Seach">
		</form>
		
	</header>

	<%= yield %>

</body>
</html>
